.wrapper-header {
  border-bottom: 1px solid #f0f0f0;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  z-index: 1; }
  .wrapper-header .container-header {
    width: 910px;
    margin: 0 auto;
    padding: 30px 0; }
    @media (max-width: 900px) {
      .wrapper-header .container-header {
        width: 80%; } }
    .wrapper-header .container-header .element-title {
      font-family: "TEXBold";
      font-size: 26px; }

.wrapper-content {
  padding-top: 90px;
  width: 100%; }
  .wrapper-content .element-separator {
    height: 1px;
    width: 100%;
    background: #f0f0f0;
    border: 0;
    margin: 0;
    padding: 0; }
  .wrapper-content .container-content {
    width: 910px;
    margin: 0 auto; }
    @media (max-width: 900px) {
      .wrapper-content .container-content {
        width: 100vw;
        overflow: hidden; } }
    .wrapper-content .container-content .element-portfolio {
      height: 100vh;
      position: relative; }
      @media (max-width: 900px) {
        .wrapper-content .container-content .element-portfolio {
          height: auto;
          padding: 30px 0; } }
      .wrapper-content .container-content .element-portfolio:first-child {
        height: calc(100vh - 90px); }
        @media (max-width: 900px) {
          .wrapper-content .container-content .element-portfolio:first-child {
            height: auto; } }
      .wrapper-content .container-content .element-portfolio .element-showoff {
        display: inline-block;
        width: 500px;
        position: absolute;
        bottom: 0; }
        @media (max-width: 900px) {
          .wrapper-content .container-content .element-portfolio .element-showoff {
            position: relative;
            width: 100vw !important;
            margin-left: calc(((500px - 100vw)/2) * -1); } }
        .wrapper-content .container-content .element-portfolio .element-showoff.right-oriented {
          right: 0; }
      .wrapper-content .container-content .element-portfolio .element-description {
        width: 380px;
        display: inline-block;
        margin-left: 20px;
        position: absolute;
        bottom: 50px;
        right: 0; }
        @media (max-width: 900px) {
          .wrapper-content .container-content .element-portfolio .element-description {
            position: relative;
            width: 100vw;
            padding-top: 30px;
            bottom: 0; } }
        .wrapper-content .container-content .element-portfolio .element-description.left-oriented {
          left: 0;
          margin: 0 20px 0 0; }
          @media (max-width: 900px) {
            .wrapper-content .container-content .element-portfolio .element-description.left-oriented {
              margin-left: 20px; } }
        .wrapper-content .container-content .element-portfolio .element-description h1 {
          font-family: "TEXBold";
          font-size: 24px;
          margin-bottom: 10px; }
        .wrapper-content .container-content .element-portfolio .element-description p {
          font-size: 14px;
          line-height: 20px;
          font-family: "TEXRegular"; }
          @media (max-width: 900px) {
            .wrapper-content .container-content .element-portfolio .element-description p {
              width: 90vw; } }
          .wrapper-content .container-content .element-portfolio .element-description p a {
            color: black;
            cursor: auto; }
            .wrapper-content .container-content .element-portfolio .element-description p a:hover {
              cursor: hand;
              opacity: .5; }
          .wrapper-content .container-content .element-portfolio .element-description p strong {
            font-family: "TEXBold";
            font-size: 12px;
            margin-top: 10px;
            display: block; }

.wrapper-footer {
  border-top: 1px solid #f0f0f0; }
  .wrapper-footer .container-footer {
    width: 910px;
    margin: 0 auto;
    padding: 20px 0; }
    @media (max-width: 900px) {
      .wrapper-footer .container-footer {
        width: 100vw; } }
    .wrapper-footer .container-footer .element-box {
      width: 230px;
      display: inline-block;
      vertical-align: top;
      margin-right: 30px; }
      @media (max-width: 900px) {
        .wrapper-footer .container-footer .element-box {
          width: 80vw;
          margin: 0 0 30px 20px; } }
      .wrapper-footer .container-footer .element-box.skills {
        width: 350px; }
    .wrapper-footer .container-footer h1 {
      font-family: "TEXBold";
      font-size: 24px;
      margin-bottom: 10px; }
    .wrapper-footer .container-footer p {
      font-family: "TEXRegular";
      font-size: 12px;
      line-height: 20px; }
      .wrapper-footer .container-footer p strong {
        font-family: "TEXBold"; }
        .wrapper-footer .container-footer p strong a {
          color: #000; }
          .wrapper-footer .container-footer p strong a:hover {
            opacity: .5; }
      @media (max-width: 900px) {
        .wrapper-footer .container-footer p.element-contact, .wrapper-footer .container-footer p.element-copyright {
          width: 80vw;
          margin: 0 0 30px 20px; } }
      .wrapper-footer .container-footer p.element-contact {
        margin-top: 30px; }
      .wrapper-footer .container-footer p.element-copyright {
        border-top: 1px solid #f0f0f0;
        font-size: 10px;
        padding-top: 10px;
        margin-top: 30px; }

@font-face {
  font-family: 'TEXBold';
  src: url("../fonts/texgyreheros-bold-webfont.eot");
  src: url("../fonts/texgyreheros-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/texgyreheros-bold-webfont.woff") format("woff"), url("../fonts/texgyreheros-bold-webfont.ttf") format("truetype"), url("../fonts/texgyreheros-bold-webfont.svg#texgyreherosbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TEXItalic';
  src: url("../fonts/texgyreheros-italic-webfont.eot");
  src: url("../fonts/texgyreheros-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/texgyreheros-italic-webfont.woff") format("woff"), url("../fonts/texgyreheros-italic-webfont.ttf") format("truetype"), url("../fonts/texgyreheros-italic-webfont.svg#texgyreherositalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TEXRegular';
  src: url("../fonts/texgyreheros-regular-webfont.eot");
  src: url("../fonts/texgyreheros-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/texgyreheros-regular-webfont.woff") format("woff"), url("../fonts/texgyreheros-regular-webfont.ttf") format("truetype"), url("../fonts/texgyreheros-regular-webfont.svg#texgyreherosregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
